html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 /* background-color:dodgerblue;*/
}
.container-fluid {
    background-color: #ADD8E6;
    border-color: #eeeeee;
}
.navbar-brand {
    color: #FFFFFF;
   
}
.footer {
    background-color: lightblue;
    color:black;
    text-align:center;
    width:100%;
}
.alignment {
  
    left: 950px;
    position: relative;
}
 .container-fluid {
    background-color: lightblue;
}
.text
{
    color:blue;
}
/*for Tab control*/
div.login-logout-tab div.card.header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab li.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}  